@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.productContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $color-light-gray;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;

  .removeProduct {
    @include button-generator($padding: 10px 10px, $background: transparent, $font-size: 0.65);
    position: absolute;
    top: 0;
    right: 0;
  }
}

.productNameWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  border-right: 1px solid $color-light-gray;
  flex-wrap: wrap;

  @include breakpoint(from-mobile-to-desktop) {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid $color-light-gray;
    padding: 0 0 20px 0;
  }
}

.imageWrapper {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(to-small-mobile) {
    width: 100%;
  }
}

.nameWrapper {
  width: calc(100% - 150px);
  padding: 0 20px;

  @include breakpoint(to-small-mobile) {
    width: 100%;
  }
}


.quantityWrapper {
  width: 300px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .quantityButton {
    @include button-generator($padding: 10px 20px);
  }

  .quantityInput {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    padding: 0;
  }

  @include breakpoint(to-small-mobile) {
    width: 100%;
    padding: 20px 0 0 0;
    justify-content: center;
  }
}

.priceWrapper {
  min-width: 220px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;

  @include breakpoint(to-small-mobile) {
    width: 100%;
  }

  .price {
    padding: 0 20px;
    line-height: 1.25em;

    .label {
      font-size: 0.75em;
      color: $color-gray;
      display: block;
    }

    &.summary {
      text-align: right;
      font-weight: 700;
      .label {
        font-weight: 400;
      }
    }
  }
}

.contentPlaceholder {
  width: 100%;
  background: linear-gradient(90deg, #E2E2E2, #b9b9b9, #FEFEFE, #b9b9b9);
  background-size: 400% 400%;
  animation: Gradient 2s ease-in-out infinite;
  min-height: 20px;
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}