@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_mixins.scss';
@import "../../assets/scss/form-elements";

.paymentWrapper {
  width: 700px;
  margin: 40px auto;

  @include breakpoint(to-tablet) {
    width: 100%;
  }
}

.paymentProviders {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 40px 0;
  flex-wrap: wrap;

  label {
    padding-right: 20px;
    font-size: 1.5em;
    font-weight: 700;

    @include breakpoint(to-mobile) {
      width: 100%;
      margin: 0 0 5px 0;
    }
  }

  .selectControl {
    margin-bottom: 0;
  }
}

.buyerAgreement {
  display: flex;
  align-items: center;
  margin: 40px 0;

  label {
    font-size: 0.875em;
  }
}

.paymentFooter {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid $color-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .proceedButton {
    @include button-generator($background: $color-light-gray, $padding: 15px 40px);
  }
}