@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "../../assets/scss/form-elements";

.formWrapper {
  width: 700px;
  margin: 40px auto;

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="number"] {
    min-width: 200px;

    @include breakpoint(to-mobile) {
      width: 100%;
    }
  }


  @include breakpoint(to-tablet) {
    width: 100%;
  }
}


.formField {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;

  label {
    width: 30%;
    color: $color-dark;
    height: 30px;
    line-height: 30px;
    font-size: 0.875em;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;

    @include breakpoint(to-mobile) {
      width: 100%;
      padding: 0;
      text-align: left;
    }
  }

  &.required {
    label {
      &:after {
        content: '*';
        display: inline;
        margin-left: 5px;
      }
    }
  }

  &.submitField {
    margin-top: 20px;
    border-top: 1px solid $color-gray;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }
}

.fieldWrapper {
  width: calc(100% - 30%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include breakpoint(to-mobile) {
    width: 100%;
  }

  .phonePrefix {
    @include breakpoint(to-mobile) {
      width: 100%;
      display: flex;
      align-items: center;
    }
    span {
      margin-right: 10px;
      font-size: 0.875em;
    }
  }

  .errors {
    width: 100%;
    display: block;
    margin: 5px 0 0 0;
    font-size: 0.65em;
    color: $color-brand-primary;
  }
}

.formSubmit {
  @include button-generator($background: $color-light-gray, $padding: 15px 40px);
}