@import "../../../assets/scss/variables";

.messageHolder {
  width: 100%;
  display: flex;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .removeButton {
    background: transparent;
    border: none;
    padding: 15px 20px;
    color: #fff;
  }
  .message {
    margin: 0;
    color: #fff;
  }
}

.type-{
  &ok {
    background: $color-ui-ok;
  }
  &warn {
    background: $color-ui-warn;
  }
  &error {
    background: $color-ui-error;
  }
  &info {
    background: $color-ui-info;
  }
}